body{
    background-image: linear-gradient(rgb(255,255,255),rgb(151, 66, 151));
     
}
.container{
    max-width: 955px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto; 
    margin-bottom: 23px;
}
.message{
background-color: grey;
border:2px solid black;
border-radius: 10px;
margin: 17px 12px;
padding: 10px;
width: 24%;
}
.right
{
    float:right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
#send-container
{
    display: block;
    margin: auto;
    max-width: 985px;
    width: 100%;
    

}
#messageInp
{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px ; 
}
body
{
    height: 100vh;
}
.btn
{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}